
#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(min-width: 750px){
#home{
    padding-top: 140px;
    padding-bottom: 80px;
}
}

@media(max-width: 750px){
  #home{
      padding-top: 80px;
      padding-bottom: 80px;
  }
  }
  


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .Home{
  margin: 0px 350px;
  
  padding-top: 30px;
  padding-bottom: 50px;
  border: 7px solid white;
  
} */

.home-enter p{
      animation: slideUp 2s ease-in-out;
}

.home-enter h1{
  animation: fadeIn 3s ease-in-out; 
}



#home p{
    
    font-weight: bold;
    color: grey;
    font-size: 35px;
    padding: 0 10px;
    /* margin: 0px 100px;
    /* border-radius: 5px; */
   
}

#home h1{
   font-size: 70px;
   padding: 0 20px;
   /* background-image: url('../images/main.jpg');
   background-size: contain;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
 
}

 .first{
  color: #131931;
  -webkit-text-stroke: 2px white;
} 

/* .second{
  -webkit-text-stroke: 1px #bdc0cc;
} */

