
.nav-links {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-right: 10px;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  z-index: 1200;
}

.nav-divider {
  display:none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

@media (max-width: 840px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:  #131931;
    position: fixed;
    right: -100%;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    z-index: 1100;
    padding: 20px;
    /* box-shadow: 0px 4px 8px whitesmoke; */
    transition: right 0.5s ease-in-out;
  }

  .nav-links.open {
    top: 56px;
    right: 0;
    display: flex;
    animation: slideIn 0.5s forwards;
  }

  .nav-links.close {
    top: 56px;
    right: -100%;
    display: flex;
    animation: slideOut 0.5s forwards;
  }

  .hamburger {
    display: block;
  }

  .nav-divider {
    width: 100%;
    border: 0.5px solid whitesmoke;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .nav-links.open {
    top: 75px;
  }
  .nav-links.close {
    top: 75px;
  }
}

.app-root-1 {
  display: flex;
  

}

.Paper-root {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 0;
  position: fixed;
}

.AppBar-root {
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.AppBar-colorPrimary {
  color: white;
 
}

.Toolbar-root {
  display: flex;
  position: relative;
  background-color: #131931;
  align-items: center;
}

.Toolbar-regular {
  min-height: 56px;
}

.header-appBar-13 {
  height: 80px;
}

.Toolbar-gutters {
  padding-left: 16px;
  padding-right: 16px;
}

.header-left-4 {
  margin-left: 16px;
}

.header-logo-11 {
  margin-right: 1px;
  height: 50px;
  width: 55px;
}

.header-vertical-9 {
  height: 35px;
  margin-right: 16px;
}

a{
  text-decoration:none ;
}

.Typography-root {
  margin: 0;
}

.header-logo-text {
  font-size: 20px;
  
  color: white;
  font-family: Poppins !important;
}

.header-empty-6 {
  flex-grow: 1;
}

.header-space-8 {
  margin-right: 16px;
}

.ButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.ButtonBase-root::-moz-focus-inner {
  border-style: none;
}

@media print {
  .ButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}

.Button-root {
  color: white !important;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.Button-root:hover {
  text-decoration: none;
  background-color: rgb(31, 31, 103);
}

@media (hover: none) {
  .Button-root:hover {
    background-color: transparent;
  }
}

.Button-text {
  padding: 6px 8px;
  color: white !important;
}

.header-navButtons-3 {
  color: white !important;
  font-size: 20px;
  margin-right: 8px;
  text-transform: none;
}

.bottom-space {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.App {
  color: white;
  
  text-align: center;
 
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color:#131931;
  
    
  

}


